/* general */


@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Open+Sans:wght@300;400;700&family=Oswald:wght@400;700&display=swap');
/* 
font-family: 'Fondamento', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

*{
    box-sizing : border-box;
    margin: 0;
    padding : 0;
}

/* Contact bar */
#topbar {
  background: #106eea;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  text-decoration: underline;
}

#topbar .contact-info i {
  padding-right: 4px;
  margin-left: 15px;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #fff;
}

/* Page header Section */

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 25px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.header-scrolled {
  top: 0;
  padding: 15px;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 15px;
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}
/* Desktop Navigation */

.khetra-logo{
  width : 5%;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #222222;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #106eea;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 26px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #062b5b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #106eea;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #222222;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #106eea;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}



/* nav{
    background: transparent;
}

.main{
    background: url(images/people-harvesting-2131784.jpg);
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}

#title{
    text-align: center;
    position: relative;
    top : 25%;
    font-family: 'Fondamento', cursive ;
}
#subtitle{
    text-align: center;
    position: relative;
    top : 25%;
    font-weight: 600;
}
.main-hr{
    position: relative;
    border: 0;
    height: 1px;
    background: #333;
    /* background-image: linear-gradient(to right, #ccc, #333, #ccc); */
    /* top : 25%;
    width: 25%;
}

.navbar-brand{
    font-family: 'Bangers', cursive;
    /* font-weight: bold; */
/* }
 *
/ */
/* scroll down css */
/* 
.scroll-btn-wrapper {
    text-align: center;
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    z-index: 2; }
    @media (max-width: 768px) {
      .scroll-btn-wrapper {
        bottom: 0; } }
    .scroll-btn-wrapper .scroll-down {
      display: inline-block;
      color: rgba(0, 0, 0, 1);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      font-size: 1rem;
      letter-spacing: .1em; }
      @media (max-width: 768px) {
        .scroll-btn-wrapper .scroll-down {
          font-size: 0px;
          font-size: 0rem; } }
      .scroll-btn-wrapper .scroll-down img {
        display: block;
        margin: 0 auto 12px;
        position: relative;
        -webkit-animation-name: scroll-down;
                animation-name: scroll-down;
        -webkit-animation-duration: 1.2s;
                animation-duration: 1.2s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite; }
        @media (max-width: 768px) {
          .scroll-btn-wrapper .scroll-down img {
            max-width: 12px; } }
      .scroll-btn-wrapper .scroll-down:hover,
      .scroll-btn-wrapper .scroll-down:focus,
      .scroll-btn-wrapper .scroll-down:active {
        text-decoration: none;
        color: rgba(0, 0, 0, 1); }
        @-webkit-keyframes scroll-down {
          0% {
            top: 0; }
          50% {
            top: 6px; }
          100% {
            top: 0; } }
        @keyframes scroll-down {
          0% {
            top: 0; }
          50% {
            top: 6px; }
          100% {
            top: 0; } }

.scroll-down-img {
    width : 10%;
} */ */

/* Carousel Section */
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
/* About us sections */

#about-us{
  height: 100vh;
}

.about-us-heading{
    background-color: #79d70f;    /* company #6EBE44*/
    color: #fff;
    text-align: center;
    width: 100%;
    padding : 3em 0;
}

hr{
    border: 0;
    height: 1px;
    background: #fff;
    width : 10%;
}


.feature-images {
    width : 25%;
    margin : 1em 35%;
}

.features {
    text-align: center;
}

.features p {
    padding : 5%;
}

.about-us-content h3 {
    text-align: center;
    margin: 1em 0;
}

#about-us{
    margin-bottom: 5.5%;
}


/* miscellaneous */
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    overflow-y : hidden;
}

/* why-us section */
.why-us{
  background-color: #035aa6;
  color: #fff;
  text-align: center;
  width: 100%;
  padding : 3em 0;
}

#why-us{
  height : 100vh;
}

.services {
  text-align: center;
  margin: 2.5em 0;
}

.services-row{
  margin : 2em 2em;
}

.services-img {
  margin-top :1.5em;
}
/* Numbers */
#num {
  font-family: Montserrat;
    font-size: 12px;
    text-align: center;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.count {
  display: block;
  font-size: 24px;
  padding: auto auto ;
  text-align: center;
  font-weight: 600;
  width: 25%;
  color: #fff;
  margin: 0 35% 0 37%;
}

.container {
  display: flex;
}

.Num {
  text-align: center;
  color: white;
  background-color:  #035aa6;
  padding: 50px 25px 25px 25px;
  margin: 10px auto 10px auto;
}

.insideBox {
  width: 25%;
}

.Num p {
  font-size: 20px;
}

@media screen and (max-width:800px){
  .container {
    flex-direction: column;
  }
  .insideBox {
    width: 100%;
    height:25%;
  }
}
